* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media (max-width: 450px) {
  body header {
    padding: 10px;
  }
}
body header nav {
  display: flex;
  gap: 10px;
}
body header nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}
body header nav ul a {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: rgb(41, 35, 35);
}
body header nav .shopping-cart .add-to-cart {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  border-radius: 30px;
  border: none;
}
body header nav .user-profile {
  display: flex;
  align-items: center;
  gap: 5px;
}
body header nav .user-profile .sign-up {
  padding: 5px;
  width: 75px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
body header nav .user-profile .sign-in {
  padding: 5px;
  width: 75px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}
body header nav .user-profile .sign-out {
  padding: 5px;
  width: 75px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(199, 199, 199);
}
body header nav .user-profile .profile-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  background-color: rgb(199, 199, 199);
}
body .products {
  padding: 20px 80px;
}
@media (max-width: 450px) {
  body .products {
    padding: 10px;
  }
}
body .products h2 {
  margin-bottom: 10px;
}
body .products .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
@media (max-width: 450px) {
  body .products .container {
    grid-template-columns: 1fr;
  }
}
body .products .container .product {
  background-color: black;
  color: white;
  height: 300px;
  position: relative;
  border-radius: 10px;
}
body .products .container .product a {
  cursor: pointer;
}
body .products .container .product a img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
body .products .container .product .details {
  padding: 10px;
  background-color: rgb(199, 199, 199);
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 10px 10px;
}
body .products .container .product .details h2 {
  margin: 0;
}
body .products .container .product .details .add-to-cart {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
body .about {
  padding: 20px 80px;
}
@media (max-width: 450px) {
  body .about {
    padding: 10px;
  }
}
body .about h2 {
  margin-bottom: 10px;
}
body .about p {
  background-color: rgb(199, 199, 199);
  padding: 10px;
  border-radius: 10px;
}
body footer {
  display: flex;
  justify-content: center;
  padding: 20px 80px;
}
body footer p {
  font-size: small;
}/*# sourceMappingURL=App.css.map */